body{
    font-size: 18px;
    font-family: "微软雅黑";
    background: url(images/dengluyembj.gif) no-repeat;
    background-size: cover;
    color: #FFF;
  }
  .outdiv{
    width: 535px;
    height: 200px;
    padding-top: 60px;
    margin: 250px auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  p span{
    width: 100px;
    display: inline-block;
    text-align: right;
  }
  .indiv2{
    width: 100px;
    height: 50px;
    float: right;
  }
  .indiv1{
    width: 100px;
    height: 50px;
    float: right;
  }
  a:link{
    color: aquamarine;
    text-decoration: none;
  }
  a:hover{
    color: aqua;
    text-decoration: underline;
  }